<section class="call-out sec-padd center" style="background-image: url(images/background/2.jpg);">
    <div class="container">
        <div class="content">
            <h2>Combination of <span class="thm-color">Safety</span> and Beauty</h2>
            <p>Safety is our commitment and beauty is our passion.</p>
            <a href="/contact" class="thm-btn bg-clr1"><span class="flaticon-mail"></span>contact us</a>
        </div>
    </div>
</section>

