<footer class="footer mt-auto">
    <div class="copyright bg-white">
      <p>
        &copy; <span id="copy-year">2019</span> Powered by 
        <a
          class="text-primary"
          href="https://www.linkedin.com/in/mushariar/"
          target="_blank"
          >Mushariar Ahmmed</a
        >. This is built for practice purpose. Feel free to download and update. If you have any suggestion please contact over Linkedin or comment here.
      </p>
    </div>
    <script>
        var d = new Date();
        var year = d.getFullYear();
        document.getElementById("copy-year").innerHTML = year;

    </script>
  </footer>