<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--<![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="http://bheramarasamity.com/admin/public/vendor/bootstrap/css/bootstrap.min.css">

    <script src="http://bheramarasamity.com/admin/public/vendor/jquery/js/jquery-3.3.1.min.js"></script>
    <script src="http://bheramarasamity.com/admin/public/vendor/bootstrap/js/bootstrap.min.js"></script>
    <style>
        td {
            font-family: Arial;
            font-size: 14px;
            padding: 8px 5px 2px 8px !important;
            border-top: none !important;
        }

        .underlined-td {
            font-family: Arial;
            font-size: 14px;
            border-top: none !important;
            border-bottom: 1px dashed #ddd !important;

        }

        p {
            font-family: Arial;
            font-size: 13px;
        }

        @media print {

            /* style sheet for print goes here */
            .noprint {
                visibility: hidden;
            }
        }
    </style>
</head>

<body style="border: solid 1px;">
    <div style="height: 20px;"></div>


    <div class="form-inline" style="width: 90%; margin-left: 5%; padding-bottom: 25px;">
            <img src="http://bheramarasamity.com/admin/public/images/bsd_logo.png" style="height: 90px; margin: auto; text-align: center"">
            <h1 style="text-align: center; margin: 2px;">ভেড়ামারা সমিতি ঢাকা</h1>
           
    </div>


    <div style="height: 25px;"><br /></div>

    <div style="display: block;">

        <table id="tabregistration" class="table bgimg" cellspacing="0" style="width: 90%; margin-left: 5%;">
            <tbody>

                <tr>
                    <td class="underlined-td" colspan="4"><h3><%= data.fullname_bn %></h3></td>
                </tr>

                <tr>
                    <td colspan="4"><h4 style="text-align: center;">আপনার অ্যাকাউন্টের পাসওয়ার্ড পরিবর্তন করার জন্য অনুরোধ করা হয়েছে</h4></td>
                </tr>

                <tr>
                    <td class="underlined-td" colspan="4"><h4 style="text-align: center;">পাসওয়ার্ড পরিবর্তন করতে <a href="<%= data.redirecturl %>/<%= data.passwordtoken %>"> ক্লিক করুন </a> ।</h4></td>
                </tr>
                
                <tr>
                    <td colspan="4"><h4 style="text-align: center;">ধন্যবাদ, ভেড়ামারা সমিতি ঢাকা</br></h4></td>
                </tr>
                

            </tbody>
        </table>

        <br /><br />
    </div>

</body>

</html>